:root {
  --black-22: #000000;
  --blue-violet-22: #705abd4d;
  --blue-violet-3: #705abd73;
  --blue-violet-4: #705abd26;
  --blue-violet2: #705abd;
  --cape-cod: #334047;
  --dove-gray: #707070;
  --gallery: #f0f0f0;
  --geyser: #d3d6e2;
  --golden-tainoi: #fdd05a;
  --lochmara: #007bc3;
  --mountain-mist: #969492;
  --pomegranate: #fc4420;
  --science-blue: #006dbc;
  --tuna: #333f48;
  --white: #ffffff;

  --font-size-l2: 18px;
  --font-size-m2: 15px;
  --font-size-m22: 16px;
  --font-size-s: 14px;
  --font-size-xs: 12px;
  --font-size-xxl2: 24px;
  --font-size-xxxl2: 36px;

  --font-family-helveticaneue-bold: "HelveticaNeue-Bold", Helvetica;
  --font-family-open_sans: "Open Sans", Helvetica;
  --font-family-segoeui-regular: "SegoeUI-Regular", Helvetica;
}

/* TODO: use below for heart */
/* <linkhref="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet"> */
/* <spanclass="material-icons">favorite</span>

/*Marlon START*/

.omaps-nav-container{
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--science-blue);
}

.omaps-nav{
  background-color: var(--science-blue);
  color: white;
  padding: 0 1em;
  position: sticky;
  width: 1140px;
  margin: 0 auto;
}

.omaps-nav-row{
  padding: 0.75em 0;
}

.title{
  letter-spacing: 0;
  line-height: 36px;
  min-height: 51px;
  min-width: 325px;
  white-space: nowrap;
}

.omaps-nav-menu{
  text-align: right;
}

.omaps-nav-menu h2{
  display: inline-block;
  margin: 0 1em;
}

.ifa-logo{
    background-image: url(img/ifalogo.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 60px;
    width: 63px;
    display: inline-block;
    margin-right: 1em;
}

.ifa-logo-container{
  display: flex;
  align-items: center;
}

.header-cluster-container{
  padding: 1em;
  background-color: var(--gallery);
}

.header-cluster-container__white{
  background-color: transparent;
}

.omaps-routes-container{
  width: 1140px;
  margin: 0 auto;
}

.cluster-name{
  font-size: 18px;
  color: var(--blue-violet2);
  font-weight: 700;
  border-bottom: 3px solid var(--blue-violet2);
  padding-bottom: 10px;
}

.occupations-columns{
  display: flex;
  margin-top: 1em;
}

.occupations-columns > div{
  flex-grow: 1;
	width: 45%;
}

div.professional-occupations{
  width: 37%;
}

.omaps-occupations--empty-column__hidden{
  display: none !important;
}

.omaps-occupations{
  display: flex;
}

div.omaps-occupations__wide{
  width: 75%;
}

.omaps-occupations__narrow{
  width: 45%;
}

.occupations-heading{
  padding: 0.5em 0 0.5em 0.75em;
  font-weight: 600;
  color: var(--tuna);
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  min-height: 3em;
}

.technical-occupations-heading{
  background-color: var(--blue-violet-22);
}

.higher-technical-occupations-heading{
  background-color: var(--blue-violet-3);
}

.professional-occupations-heading{
  background-color: var(--blue-violet-4);
}

.professional-occupations .occupations-text-container{
  margin-right: 0;
}

.occupations-text{
    color: var(--dove-gray);
    font-size: 13px;
    font-weight: 400;
    padding: 1em;
    /* min-height: 8em; */
}

p.occupations-text__padding-right{
  padding-right: 15em;
}

.occupations-text__with-border{
  border: 1px solid var(--dove-gray);
  min-height: 8em;
}

.omaps-chevron{
  background-image: url("img/chevron.png");
  background-size: contain;
  /* background-position: center center; */
  background-position-y: 2.25em;
  background-repeat: no-repeat;
  color: transparent;
  margin-right: 0.5em;
}

.omaps-chevron__top{
  background-position-y: 2em;
}

.omaps-chevron--hidden{
  background-image: none;
}

.occupations-text-container{
  margin-right: 1em;
}

.route-heading{
  -webkit-text-stroke: 0.5px var(--dove-gray);
  color: var(--tuna);
  font-size: 60px;
  font-weight: 700;
}

.route-container{
  /*64em bottom for debugging, set to 2em when done*/
  margin: 2em 0 64em 0;
}

.pathway-container{
  margin-top: 1.5em;
}

.pathway-heading{
  color: var(--white);
  font-size: 24px;
  font-weight: 300;
  background-color: #705abd;
  padding: 0.5em 0 0.5em 0.5em;
  border-top-right-radius: 25px;
}

.small-card{
  background-color: white;
  font-size: 15px;
  font-weight: 400;
  margin: 1em 0;
  min-height: 4.5em;
  box-shadow: 0 4px 6px -6px black;
  position: relative;
}

.small-card:hover{
  cursor: pointer;
  background: #ffdd00 !important;
}

.card-title{
  padding: 1em;
}

.small-card > .card-title{
  padding: 1em 1em 0.5em 1em;
}

.large-card > .card-title{
  font-size: 19px;
  font-weight: 600;
}

.large-card{
  width: 100%;
  border: 1px solid #424242;
  border-radius: 16px;
}

.large-card:hover{
  cursor: default;
  background: white !important;
}

.small-card .close-icon{
  display: none;
}

.large-card .close-icon{
  display: inline-block;
}

.close-icon{
  position: absolute;
  right: 11px;
  top: 11px;
}

.small-card .heart-icon{
  display: none;
}

.large-card .heart-icon{
  display: inline-block;
}

.heart-icon{
  position: absolute;
  top: 8px;
}

.heart-icon:hover{
  cursor: pointer;
}

.heart-icon:hover .heart-icon--path{
  fill: var(--science-blue);
}

.heart-icon__clicked{
  fill: var(--science-blue);
}

.close-icon:hover{
  cursor: pointer;
}

.hidden-card-content{
  padding: 0.5em 1em 0 1.25em;
}

.hidden-card-content > p{
  padding-bottom: 1em;
  line-height: 18px;
}

.small-card > .hidden-card-content{
  display: none;
}

.large-card > .hidden-card-content{
  display: block;
}

.hidden-card-content > h2{
  font-size: 16px;
  margin-bottom: 1em;
  font-weight: 600;
}

.read-more--button{
    display: block;
    border: 2px solid #28A745;
    border-radius: 5px;
    width: 7em;
    color: #28A745;
    padding: 0.5em;
    position: relative;
    margin-bottom: 1em;
}

.read-more--button:hover{
  color: white;
  background-color: green;
}

.read-more--button > p{
  text-align: center;
}

.blue-pill-container{
  display: flex;
  margin-bottom: 2em;
}

.blue-pill__small-card-container{
  float: right;
  padding-right: 1em;
}

.large-card > .blue-pill__small-card-container{
  display: none;
}

.technical-education-role--container{
  padding-top: 3px;
}

.degree-type{
  color: #645C5C;
  font-size: 15px;
  margin-top: 1em;
  padding: 3px 1em 0 1.75em;
}

.technical-education-role{
  padding: 0 1em 0 1.75em;
  color: var(--science-blue);
}

.technical-education-status{
  padding: 3px 0 0 0;
}

.blue-pill{
  background: #007BC3;
  border-radius: 10px;
  color: white;
  width: 30px;
  height: 21px;
  padding: 3px 0 4.5px 9.5px;
}
/*Marlon END*/


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600");

@font-face {
  font-family: "SegoeUI-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SegoeUI-Regular") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/HelveticaNeue-Bold") format("truetype");
}

* {
  box-sizing: border-box;
}

body{
  font-family: var(--font-family-open_sans);
}

h1{
  font-size: 36px;
}

h2{
  font-size: 18px;
}

h3{
  font-size: 16px;
}

p{
  line-height: 15px;
}

a:hover{
  cursor: pointer;
}

.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
